<div class="form-container">
    <form>
        <div class="form-group">
            <label for="blogTopic">Title</label>
            <input
                    required
                    type="text"
                    class="form-control"
                    [formControl]="formTitle">
        </div>
        <div class="form-group">
            <label for="content">Blog Content</label>
            <textarea
                    required
                    [formControl]="formContent"
                    cols="10" rows="4"
                    class="form-control">
            </textarea>
        </div>
        <div class="buttonHolder">
            <button class="btn btn-primary" type="submit" (click)="submitForm()">Submit</button>
        </div>
    </form>
</div>