/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-size: 18px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 12.5px;
}

header {
  background-color: #073642;
  padding: 1em 0;
}

a {

  text-decoration: none;
}

a.logo {
  font-weight: bold;
  color: white;
}

nav {
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  display: inline;
}

li a {
  padding: 16px;
  text-align: center;
}

li a:hover {
  color: aliceblue;
  transition-delay: 5ms;
}

h1 {
  margin-top: 2em;
}
