<div class="content" *ngFor="let title of titles">
  <div class="card">
    <div class="card-header">
      {{title}}
    </div>
    
    <div class="card-body">
      <p class="card-text">-</p>
    </div>
  </div>
</div>


<div class="content">
  <div class="card">
    <div class="card-header">
      Beginner Steps
    </div>
    <div class="card-body">
      <h5 class="card-title">Generating a new project with Angular-Cli</h5>
      <p class="card-text">
          We can generate a new project use ng new command. This will create your project folder with default files in your directory.<br>
        <code>ng new <i>project-name</i></code>
      </p>
    </div>
  </div>
</div>
<div class="content">
  <div class="card">
    <div class="card-header">
      Beginner Steps
    </div>
    <div class="card-body">
      <h5 class="card-title">Creating Component</h5>
      <p class="card-text">
        Components are the Building Blocks of Angular. It will create you <i>.css, .html, . spec.ts, .ts</i> files in your component folder. You can create a
        component using following command:<br>
        <code>ng g component <i>component-name</i></code>
      </p>
    </div>
  </div>
</div>
<div class="content">
  <div class="card">
    <div class="card-header">
      Beginner Steps
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ myPostData?.posts[0].title }}</h5>
      <p class="card-text" [innerHTML]="myPostData?.posts[0].content">
      </p>
    </div>
  </div>
</div><div class="content">
  <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
    </div>
  </div>
</div>

